.footer-cont {
    background-color: black;
    padding: 3rem 6rem;
    margin-top: 4rem;
    font-size: 2rem;
    color: white;

    .title {
        font-size: 2.5rem;
        font-weight: 600;
        padding-bottom: 6rem;
        border-bottom: .1px solid #999999;
        margin-bottom: 1.6rem;
    }

    .footer-sub {
        display: flex;
        justify-content: space-between;

        .links a {
            font-size: 1.6rem;
            color: white;
            margin-top: 3rem;
            margin-right: 1rem;
        }

        .social-icons {
            display: flex;

            div {
                margin-right: 1rem;
            }
        }
    }

    @media screen and (max-width: 600px) {
        padding: 6rem 6rem;
        width: 100%;

        .title {
            font-size: 5rem;
            font-weight: 800;
            margin-left: -2rem;
        }

        .footer-sub {
            flex-direction: column-reverse;
            gap: 2rem;

            .links a {
                font-size: 1.8rem;
            }
        }
    }
}