.header-container {
    display: flex;
    justify-content: space-between;
    margin: 3rem 10rem;


    .tickete-title {
        font-size: 2.5rem;
        font-weight: 600;
    }

    .help-section {
        display: flex;
    }

    .back-arrow {
        display: none;
    }

    @media screen and (max-width: 600px) {
        margin: 4rem;

        .tickete-title,
        .help-section {
            display: none;
        }

        .back-arrow {
            display: block;
        }
    }
}